#masthead {
    background: transparent linear-gradient(93deg, #4D0099 0%, #2875E9 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 19px #00008047;
}
.sub-menu.nav-dropdown .row:not(.row-collapse) {
    margin-left: auto !important;
    margin-right: auto !important;
}
.header-main .nav > li > a{
    color: #fff !important;
}